/* Temporary until ListBox gets replaced with ListView */
.remove-activatable .activatable {
  all:unset;
}

.embed-card {
  padding: 24px;
}

.embed-color-indicator {
  background: var(--accent-bg-color);
}

.nsfw-indicator {
  color: var(--destructive-color);
  background: color-mix(in oklab, var(--destructive-bg-color), var(--view-bg-color) 80%);
  padding: 3px 24px;
}

.tag {
  border-radius: 999px;
  background: var(--card-bg-color);
  padding: 3px 12px;
}

